.navBarContainer {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: baseline;
    width: 50rem;
    height: 4rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

.loginButton {
    height: 2.5rem;
    width: 4rem;
}