.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.loginModalContainer {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 13rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  
  border: 5px solid gray;
  border-radius: 15px;
  background-color: darkgray;
  box-shadow: 5px 5px 5px black;
  align-items: center;
}

.loginModalHidden {
  display: none;
}

.loginModalVisible {
  display: block;
}

.loginButton {
  margin-top: 2rem;
  width: 6rem;
}

.cancelButton {
  width: 6rem;
}

.invalidLoginVisible {
    display: block;
    padding-bottom: 2rem;
    color: red;
}

.invalidLoginHidden {
    display: none;
}
